.popover-container {
  position: relative;
  width: 200px;
  height: fit-content;
  text-align: center;
  border: #dddddd 1px solid;
  border-radius: 5px 5px 0 0;
  & > .title {
    padding: 5px;
    cursor: pointer;
  }
}
.popover {
  z-index: 100;
  padding: 20px 0;
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  border: solid #dddddd 1px;
  opacity: 0;
  border-radius: 0 0 5px 5px;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  background-color: #fafafa;
}
.popover-container:hover {
  & > .popover {
    visibility: visible;
    opacity: 1;
  }
}

.active-popover {
  visibility: visible;
  opacity: 1;
}
