table {
  width: 100%;
  border-collapse: collapse;
  .empty {
    background-color: #ddd;
    font-size: x-large;
    text-align: center;
    padding: 20px;
    justify-content: center;
    align-items: center;
    min-height: 100%;
  }
  tr {
    th,
    td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: left;
    }

    &:nth-child(even) {
      background-color: #f2f2f2;
    }
    &:hover {
      background-color: #e8e8e8;
    }
  }
}
.loading {
  opacity: 0.5;
}
